/* Navbar Styles */
.navbawr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #390085, #000000);
  color: #eaeaea;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.navbar-text {
  font-family: 'Bangers', cursive;
  display: inline-block;
  padding: 10px 20px;
  color: #eaeaea;
  font-size: 50px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.4s ease, color 0.4s ease;
}

.navbar-text:hover {
  transform: scale(1.1); /* Adjust the scale value as needed */
  color: #ffffff; /* Optional: Change color on hover */
}


.nav-profile {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 120%;
  object-fit: cover;
}


.navbar {
  display: flex;
  align-items: center;
}

.navbar button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: linear-gradient(to right, #1114b6, transparent);
  color: #eaeaea;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.navbar button:hover {
  background: #0058cb;
}
